* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
}

a {
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
